body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.title {
  position: relative;
  color: #028802e6;
}
.titleH3 {
  font-weight: 300;
  margin-left: 10px;
  font-size: 17px;
}
.titleH3:after {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 40px;
  height: 2px;
  background: #319429;
  display: inline-block;
  content: "";
  margin-top: 5px;
}
.itemInfo {
  font-size: 13px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}
.itemInfo span {
  color: #777;
  width: 80px;
}
.nameInfo {
  font-size: 14px;
  font-weight: 500;
}
.titleH4 {
  color: #333;
  font-size: 17px;
  font-weight: 600;
}
/* .card-img{
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
} */
